{% extends 'base.html' %}

{% block content %}
  {{super()}}
  <div class="container pitch_post">
    <div class="row">
  {% for post in posts %}
    <div class="col-md-4 mt-4 pt-4">
      <div class="card">
        <div class="card-header">
          <h3 class="article-metadata">{{post.category}}</h3>
          <h3 class="article-metadata">{{post.title}}</h3>
        </div>
        <div class="card-body">
          <p>{{post.content}}</p>
          <p>Posted on {{post.date_posted.strftime('%Y-%m-%d')}} ~<span>{{post.author.username}}</span></p>
        </div>
        <div class="card-footer">
          <form class="" action="{{url_for('main.del_post', post_id = post.id)}}" method="post">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>
{% endblock %}
