{% extends 'base.html' %}

{% block content %}
  {{super()}}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <form class="login mt-5 pt-5" action="/signup" method="POST">
            <div class="card bg-dark text-center">
              <div class="card-header">
                {% if error %}
                  <p class="alert-alert-danger text-center mt-2 bg-danger">
                    {{error}}
                  </p>
                {% endif %}
              </div>
              <div class="card-body">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <input class="text-white"size="28cl" type="text" placeholder="Enter Username" name="username" required>
                <br>
                <br>
                <input class="text-white"size="28cl" type="text" placeholder="Enter Email" name="email" required>
                <br>
                <br>
                <input class="text-white"size="28cl" type="password" placeholder="Enter Password" name="password" required>
                <br>
                <br>
                <input class="text-white"size="28cl" type="password" placeholder="ConfirmPassword" name="confirm_password" required>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-btn-lg bg-warning mt-5 w-50 text-black" id="submit">Sign Up</button>

              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
{% endblock %}
